html
  head
    title musicID
  body
    h1 musicID
    a(href=`https://accounts.spotify.com/authorize?client_id=${CLIENT_ID}&response_type=code&redirect_uri=http://localhost:3000/callback`) Login with Spotify
